.profileDropDown_component {
    margin: 0;
    padding: 0.938rem 1.875rem;
    min-width: 100px;
    font-size: 1rem;
    position: absolute;
    z-index: 99;
    right: 0;
    background: var(--color-text-light);
    line-height: 1.75rem;
    border: 1px solid #f3f3f3;
    top: 2.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Link {
    padding: 0.625rem 0;
}
.Link:hover{
    color: var(--color-secondary);
}