.subscribe_component {
  margin-bottom: 2.5rem;
}
.title {
  margin-bottom: 3.125rem;
  color: var(--color-primary);
}
::placeholder{
  color: var(--color-text);
}
.input {
  max-width: 42.938rem;
  line-height: 1.875rem;
  border: 1px solid var(--color-primary);
  padding: 0.313rem 1.875rem;
  width: 100%;
}
.btn {
  padding: 0 1.25rem;
  background-color: var(--color-primary);
  border: 0;
  color: var(--color-text-light);
  cursor: pointer;
  line-height: 2.625rem;
  margin-right: 1.25rem;
}
.btn:hover{
  background-color: var(--color-secondary);
}