.downloadLink {
    margin: 1.563rem 1.563rem 0 0;
}
.wrapperSocial {
    margin-bottom: 90px;
}
.copyright {
    align-items: baseline;
    padding: 1.375rem 0 1.875rem 0;
    position: relative;
    text-align: right;
    border-top: 1px solid rgba(27, 27, 27, .1);
}
.text {
    color: var(--color-text);
}
.link {
    margin: 0.625rem 3.125rem 0 0;
    color: var(--color-text);
}
.link:hover {
    color: var(--color-secondary);
}
