.infoWrapper{
  color: var(--color-text);
}
.desc{
  text-align: right;
  line-height: 1.8;
}
.wrapper{
  display: flex;
  align-items: baseline;
}
.list{
  margin-bottom: 12px;
}
.tick:before{
  content: "\2714";
  color:var(--color-secondary);
  margin-left: 0.625rem;
}