.textComment {
  position: relative;
  padding-top: 110px;
}
.textComment p {
	color: var(--color-text);
	line-height: 1.8;
	margin-bottom: 1rem
}
.textComment h5 {
	font-weight: 600;
}
.image {
	max-width: 70px;
	margin: auto;
	border-radius: 50%;
  margin-bottom: 1.25rem;
}
.rating {
	margin-bottom: 25px;
}