:root{
    --color-primary: #1b1b1b;
    --color-secondary: #ed1d24;
    --color-secondary-darker: #c71016;
    --color-text: #666;
    --color-text-light: #fff;
    --color-background-1:#f5f5f5;
    --color-copyright: #323232;
    --color-iconsearch: #999;
}