.header_component {
  margin-bottom: 75px;
}
.textTitle {
  width: 32%;
  padding-left: 40px;
}
.textTitle h2 {
  position: relative;
  text-align: right;
  padding-right: 15px;
  margin-top: 15px;
  line-height: 1.4;
  color: var(--color-primary);
  margin-bottom: .5rem;
  width: 50%;
}
.textTitle h2::before {
  position: absolute;
  right: 0;
  content: "";
  width: 4px;
  height: 100%;
  top: 4%;
  background: var(--color-secondary);
}
.textTitle h3 {
  font-weight: 400;
  margin-top: 1.5rem;
  line-height: 1.7;
  text-align: right;
  color: var(--color-text);
}
.textTitle p {
  font-size: 1.25rem;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--color-text);
  text-align: right;
}
.slider {
  width: 68%;
}
.category{
  margin-top: 4.375rem;
  margin-bottom: 105px;
  padding: 4.375rem 0 110px;
  background-image: url(../../assets/images/category.jpg);
  background-repeat: no-repeat;
}
.comment {
	margin-bottom: 110px;
}
.instagram {
  margin: 0 3.75rem 6.875rem 3.75rem;
  position: relative;
  padding: 6.5rem 0;
  background-image: url(../../assets/images/instagram.jpg);
}
.instagramLink {
  line-height: 9;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 15px;
}
.instagramLink:hover {
  color: var(--color-text-light);
}