.BreadCrumb {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-background-1);
  padding: 1.25rem 0;
  margin-bottom: 60px;
}
.title {
  color: var(--color-text);
}
.title:hover {
  color: var(--color-secondary);
}
.leftArrow {
  color: var(--color-text);
  transform: rotate(270deg);
  display: inline-block;
  font-size: 8px;
  margin: 0 8px;
  font-weight: bold;
}