.slideContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  color: var(--color-text-light);
}
.slideContent,
h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.slideContent,
p {
  font-size: 15px;
  margin-top: 1.5rem;
}
.image {
  max-width: 100%;
}
.sliderWrapper{
  position: relative;
  padding: 0 15px;
}