.backToUp{
  right: 2%;
  position: fixed;
  bottom: 5%;
  z-index: 1000;
  transition: all .3s ease;
}
.btnScroll{
  width: 35px;
  height: 35px;
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  border: 2px solid var(--color-text-light);
}
.iconBack{
  font-size: 14px;
}