.infoWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info{
  color: var(--color-primary);
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 1.875rem;
}
.info span{
color: var(--color-text);
margin-right: 1.25rem;
}