.titleTwo_component {
    margin: 0 0 60px;
    display: inline-block;
    position: relative;
}
.headerTitle {
    padding-bottom: 1.875rem;
}
.headerTitle::before{
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: 0;
    background: #999;
    left: 63.5%;
}
.headerTitle::after{
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: 0;
    background: #999;
    right: 63.5%;
}
.center {
    width: 36px;
    height: 32px;
    bottom: 5px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
}